.container{
	position: relative;
	width: 100%;
	max-width: 700px;
	height: 300px;
	background-color: rgb(207, 182, 198);
	margin: 30px auto;
    box-shadow: 0px 3px 10px rgba(18, 68, 92, 0.2);
    text-align: center;
    
}

.name{
   padding-top: 50px;   
}

.datePicker{
    padding-top: 30px;
    padding-bottom: 50px;
}

.button{
    padding-bottom: 50px;  
}

label {
    position: relative;
    float:left;
    padding-left:150px;
}

.error{
    margin:1% 15% 1% 15%;
    font-size: 16px;
    color:red;
}

.result{
    margin:1% 15% 1% 15%;
    font-size: 16px;
    color:blue; 
}
